.horiz-display {
    margin:  0 150px;
    padding-bottom: 50px;
    font-size: 1rem;
    letter-spacing: 1px;
    position: relative;

    ::-webkit-scrollbar {
            display: none;
            
        }
    .btns {
        position: absolute;
        top: 0;
        right: 0;

        .arrow-left,
        .arrow-right {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            color: rgba(255, 255, 255, 0.379);
            background-color: var(--clr-bg-nav);
            border: none;
            outline: none;
        }
        .direction {
            color: white;
        }
        .active {
            color: white;
            border: 1.5px solid rgba(255, 255, 255, 0.694);
        }
        
    }
    
    .title {
        text-transform: capitalize;
        padding-bottom: 20px;
    }
    .container {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        overflow: auto;
        scroll-behavior: smooth;
        .curtain > h4 {
            width: 80%;
            text-align: center;
            right: 20% !important;
            transform: none !important;
            border-radius: 5px 0 5px 0 !important;
        }
    }    
}


